azuredevopstest/src/main/mule/azuredevopstest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0eb846ab-b71d-4972-a956-b489e4364f6a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="azuredevopstestFlow" doc:id="a8884c6c-04f5-4750-a78f-0e056635750a" >
		<http:listener doc:name="Listener" doc:id="a136ebdd-a74b-4ff1-b5ac-623e77f09e05" path="/devOps" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="978d0dd9-fc0d-4ad5-b1a7-7ebe0fd42f37" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3cd14519-ce34-4d23-9a98-ea5dd90965c8" message="#[payload]"/>
	</flow>
</mule>
